@media only screen and (max-width:360px)  {
.bgg{
    box-shadow: none;
}
.slider{
    margin: auto;
}
}

@media only screen and (max-width:375px)  {
.bgg{
    box-shadow: none;
}
.slider{
    margin: auto;
    padding: 20px;
}
}