@media only screen and (max-width:360px)  {
  
.w-33-3{

    width: 33.33%;
    padding: -114px 100px;
    /* float: none; */
    width: 100%;
    
} 

.card{
    margin-top:40px ;
}

.im img {
    position: absolute;
    width: 40px;
    left: 1px;
    top: 1px;
    border-radius: 5px;
}

}

.card{
    position: relative;
    height: 380px;
    color: #fff;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 0.5s;
  
   
}

@media only screen and (max-width:375px){
    .w-33-3{ width: 33.33%;
    padding: -114px 100px;
    
    width: 100%;}

    .card{
        margin-top:40px ;
        height:380px;
        float: none;
        width: 100%;
    }

    .im img {
        position: absolute;
        width: 40px;
        left: 1px;
        top: 1px;
        border-radius: 5px;
    }



}
@media only screen and (max-width:412px){
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');   
    .w-33-3{ width: 33.33%;
    padding: -114px 100px;
    /* font-family: "Rubik Mono One", monospace; */
    width: 100%;}

    .card{
        margin-top:40px ;
        height:380px;
        float: none;
        width: 100%;
    }

    #dib{
        top: 40px;
        left: 8%;
         /* margin: 0 auto 0; */
         text-align: center;
         position: absolute;
         padding: 5px;
         font-size: 40px;
         color: #000;
       }


       .im img {
        position: absolute;
        width: 40px;
        left: 1px;
        top: 1px;
        border-radius: 5px;
    }








}
@media only screen and (max-width:426px){
    .w-33-3{ width: 33.33%;
    padding: -114px 100px;
    
    width: 100%;}

    .card{
        margin-top:40px ;
        height:380px;
        float: none;
        width: 100%;
    }

    #dib{
        top: 55px;
        left: 8%;
         /* margin: 0 auto 0; */
         text-align: center;
         position: absolute;
         padding: 5px;
         font-size: 40px;
         color: #000;
       }
       .im img {
        position: absolute;
        width: 40px;
        left: 1px;
        top: 1px;
        border-radius: 5px;
    }


}
@media only screen and (max-width:768px){
    .w-33-3{ width: 22.33%;
    padding: -114px 100px;
    
    width: 100%;}

    .card{
        margin-top:40px ;
        height:380px;
        float: none;
        width: 100%;
    }

    #dib{
        top: 40px;
        left: 8%;
         /* margin: 0 auto 0; */
         text-align: center;
         position: absolute;
         padding: 5px;
         font-size: 40px;
         color: #000;
       }

       .im img {
        position: absolute;
        width: 40px;
        left: 1px;
        top: 1px;
        border-radius: 5px;
    }

}

@media only screen and (max-width:1920px){
    .card-img{
        text-align: center;
        transform: translateZ(40px);
    }
    .card-contener{
        text-align: center;
    }

    .w-33-3{

        width: 22.33%;
        padding: 0 60px;
        float: left;
    }
#dib{
    left: 235px;
}
   
}


@media only screen and (max-width:1280px){
    .w-33-3{
        width: 33.33%;
    }

    .card-contener{
        text-align: center;
    }

    #dib{
        left: 235px;
    }

}