 
 body{
     margin: 0;

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
/* background-color: #004451; */
 /* background-image: linear-gradient(#1B1464,#833471);   */

} 

  .slider{
    position: relative;
    /* width: 400px; */
    /* height: 400px; */
    /* overflow: hidden; */
    /* border-radius: 10px; */
    box-shadow: -2px 18px 13px rgb(0, 0, 0,0.6);
 border: 40px solid #192a56;  
} 
 
  .slides{
    min-width: 100%;
      height: 100%; 
text-justify: ;
    display: flex;
   transition: transform 0.5s ease-in-out;
}  
 .slide{
    min-width: 100%;
    height: 100%;
}  

 .controls{ 
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
} 
button{
    background:#1b146480 ;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #347062;
    cursor: pointer;
}



.bgg{
  background-image:linear-gradient(to left,rgb(0, 68, 81,0.9),rgb(0, 68, 81,0.1),rgb(0, 68, 81)); 
/* background-image:linear-gradient(to right,rgb(15, 101, 107,0.9),rgba(20, 154, 136, 0.464)); */

/* background-image: url(img/s7.jpg); */
/* box-shadow: 18px 4px 5px rgba(134, 227, 246, 0.702); */

/* float: left; */
/* perspective: 1000px; */

}



  .imm{
  background-image:url(img/sh3.jpg) ;
animation:calc(2deg);

/* background-position:209px ; */
  background-repeat: no-repeat;
  background-size: contain;
  }  

.bo{
  /* background-image:linear-gradient(to right,#0f656b,#1d4349); */
}
 .im::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
 
 
  height: 100vh;
  /* margin-left: 190px; */
b
    /* background-image:linear-gradient(rgb(15, 101, 107,0.9),rgb(29, 67, 73,0.5));  */
}  



.bm{
  box-shadow: 10px 70px 9px rgb(0, 68, 81,0.5);
}

button :hover{
  /* background: #347062; */
}

.dd{

  background-color:rgb(0, 68, 81,0.7);
}

/* .vv{
  background-image:linear-gradient(to right,rgb(15, 101, 107,0.0),rgb(29, 67, 73,0.5),rgb(25, 42, 86,0.9));
} */

.vv{
  background-image: linear-gradient(to left,rgb(0, 68, 81,0.9),rgb(0, 68, 81,0.6),rgb(76, 209, 55,0.5),#004451);
}

.ggg img:hover{
  transition: 1s;
  cursor: pointer;
 
transform:scale(1.2);
}

.ggg:hover{
transform: scaleX(4px);
transition: 1.1s;


}

#text{

  /* visibility: hidden; */
  color:;
}



