 
 body{
     margin: 0;

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
 /* background-image: linear-gradient(#1B1464,#833471);   */

} 

  .slider{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -2px 18px 13px #0000006a;
 /* border: 40px solid #192a56;   */
} 
 
 .slides{
    min-width: 100%;
      height: 100%; 

    display: flex;
   transition: transform 0.5s ease-in-out;
} 
 .slide{
    min-width: 100%;
    height: 100%;
} 

 .controls{ 
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
} 
button{
    background:#1b146480 ;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #347062;
    cursor: pointer;
}
button:hover{
    background: rgba(0, 0, 0, 0.5);
     color: #fff; 
}  

.c{
    /* background:#add8e6;  */
}
.bgg{
background-image:linear-gradient(to right,#0f656b,#1d4349);
/* background-image: url(img/s7.jpg); */
box-shadow: 10px 10px 5px #add8e6;
/* float: left; */
/* perspective: 1000px; */

}
p{
  padding: 4px;
}
.pp{
  color: #00000075;
}






